.center{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin-bottom: 5px;
    width: 40%;
    height: 50%;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.container {
    padding: 2px 16px;
}
.desc{
    border-color: white;
    border-left-color: rgba(0,0,0,0.5);
    border-style: solid;
    color: #9d9d9d;
}
.row + .row{
    margin-top: 100px;
}
.btn-font {
    padding:8px;
    background:white;
    border-radius: 90px;

}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 90px;
    width: 20%;
}
.valign{
    margin-top: 10%;
    margin-bottom: 10%;
}
@media (max-width: 991px) {
    .desc{
        border-top-color: rgba(0,0,0,0.5);
        border-left-color: white;
    }
    .card{
        width: 70%;
    }
    .valign{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 50%;
        margin-right: 50%;
    }
}

